{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}



.context {
    width: 100%;
    position: absolute;
    top:60vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    
    background: #020BEB;
background: -webkit-linear-gradient(top left, #020BEB, #E58FE2);
background: -moz-linear-gradient(top left, #020BEB, #E58FE2);
background: linear-gradient(to bottom right, #020BEB, #E58FE2);
    width: 100%;
    height:65vh;
   
    background-size: 1400px 500px;height: 500px;
   
}

.circles{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(253, 253, 190);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
} */

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
    background-color: white;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}
.one{
      margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto",sans-serif;
    color: #777;
    
    }
    /* .activity{
        background: -webkit-linear-gradient(top left, #020BEB, #E58FE2);
background: -moz-linear-gradient(top left, #020BEB, #E58FE2);
background: linear-gradient(to bottom right, #020BEB, #E58FE2);

    } */
</style>
<link rel="stylesheet" href="{% static 'css/pros.css' %}">
<link rel="stylesheet" href="{% static 'css/procedure.css' %}">



<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
  rel="stylesheet">
<div class="context">
    <h1><b>Academics</b></h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<br>

<nav aria-label="breadcrumbs" class="bg-white">
    <ol itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="page-breadcrumbs max links-reset">
      <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="page-breadcrumbs__item">
        <meta content="1" itemprop="position">
         <a href="http://127.0.0.1:8000/" itemprop="item" class="page-breadcrumbs__link">
          
            
             <i class="fa fa-home"></i></svg>
             <span itemprop="name" class="page-breadcrumbs__name">Home</span> 
             <svg width="12" height="12" focusable="false" role="img" aria-label="chevron-right" aria-hidden="true" class="page-breadcrumbs__chevron"></svg>
               <title>Chevron-right</title> <i class="fa fa-angle-double-right"></i><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use></svg></a></li> <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="page-breadcrumbs__item"><meta itemprop="position" content="3"> <a href="/aoverview/" itemprop="item" class="page-breadcrumbs__link"><span itemprop="name" class="page-breadcrumbs__name">Academics Overview</span> <svg width="12" height="12" focusable="false" role="img" aria-label="chevron-right" aria-hidden="true" class="page-breadcrumbs__chevron"><title>Chevron-right</title> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use></svg></a></li></ol></nav>
<!-- 
<div class="module__content-panel module__copy-callout--double-circle module__copy-callout--lt-turquoise ">
    <div class="module__content-panel--wrapper">
      <div class="module__content-panel--text--full-width">
        <div class="module__pill-container module__pill-container--thin">
          <div class="module__pill-leading--wrapper module__pill-leading--heading">
            <div class="module__pill-leading">
              <h2>Welcome from the Vice-Chancellor
              
              
              </h2>
            </div>
          </div>
          <div class="module__pill-content--wrapper module__pill-leading--content">
            <svg height="1000" width="1000" viewBox="0 0 1000 1000">
              <circle cx="500" cy="500" r="500"></circle>
            </svg>
            <div class="module__pill-content">
              <p style="text-align: left;">'Deakin has strong global linkages, world-class research and, most importantly, an educational portfolio that blends the best of campus and digital delivery into a highly supportive and personalised student experience.'</p>
                       <p><a href="https://www.deakin.edu.au/business-and-community/vice-chancellors-message" class="arrow_link"><i class="icon icon-RightArrow"></i>Read more from the Vice-Chancellor</a></p>
                                  </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
    <br>
<h2>
    UNIQUE AND INSPIRING ACADEMICS-JMIT</h2>
    <br>
    


    <p class="one">At JMIT, we believe that all students should embrace their passion. We inspire the students to explore new ideas and immerse themselves in a journey of continuous learning and discovery.</p>
    <p class="one">JMIT has designed its curriculum In such a way that you will find yourself amidst plethora of opportunities; from flexible choice based credit system (FCBCS) to project based experiential learning you will be encouraged to explore areas of intellectual challenges that will shape your future. The hands-on learning that our students are continuously exposed to is designed to groom future leaders, innovators and professionals who are not only academically qualified but also have a passion for their profession. </p>
    <p class="one">Course curriculum is designed based on real-time inputs from industry experts, national and international academic leaders and to match the standards defined by national (NAAC &amp; NBA).</p>

    <br></div>
    
    <section class="activity">
<div class="row1-container">
    <div class="box box-down cyan" data-aos="fade-down"  data-aos-duration="1000" style="background: -webkit-linear-gradient(top left, #020BEB, #E58FE2);
    background: -moz-linear-gradient(top left, #020BEB, #E58FE2);
    background: linear-gradient(to bottom right, #020BEB, #E58FE2);">
      <h2 style="color: #fff;">Club Activities</h2>
      <p style="color: #fff;"> With many of student clubs, there is a club that is right for you</p>
      <img src="{% static "image/activityicon.png" %}" alt="" height="100px">
    </div>

    <div class="box red" data-aos="fade-up"  data-aos-duration="1000" style="background: -webkit-linear-gradient(top left, #020BEB, #E58FE2);
    background: -moz-linear-gradient(top left, #020BEB, #E58FE2);
    background: linear-gradient(to bottom right, #020BEB, #E58FE2);">
      <h2 style="color: #fff;">Workshops</h2>
      <p style="color: #fff;">Different Workshops are Conducted in Different Departments</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="" height="100px">
    </div>

    <div class="box box-down blue" data-aos="fade-left"  data-aos-duration="1000" style="background: -webkit-linear-gradient(top left, #020BEB, #E58FE2);
    background: -moz-linear-gradient(top left, #020BEB, #E58FE2);
    background: linear-gradient(to bottom right, #020BEB, #E58FE2);">
      <h2 style="color: #fff;">Guest Lectures</h2>
      <p style="color: #fff;">Organised Time to Time in College</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="" height="100px">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange" data-aos="fade-up"  data-aos-duration="1000" style="background: -webkit-linear-gradient(top left, #020BEB, #E58FE2);
    background: -moz-linear-gradient(top left, #020BEB, #E58FE2);
    background: linear-gradient(to bottom right, #020BEB, #E58FE2);">
      <h2 style="color: #fff;">Hackathon</h2>
      <p style="color: #fff;"> Initiative to provide students with a platform to develop projects with out-of-box thinking</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="" height="100px">
    </div>
  </div>
</section>
<br>
{% endblock %}