{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
     .main{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto",sans-serif;
    color: #777;
    

  }
</style>
<link rel="stylesheet" href="{% static 'css/overview.css' %}">

<section class="banner_area"  style="background:url(https://www.jmit.ac.in/templates/jmit/images/slide6.jpg) no-repeat center center;">
  <div class="banner_inner d-flex align-items-center">
  <div class="overlay"></div>
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="banner_content text-center">
  <h2>About Us</h2>
  <p>Excellence Through Creativity and Innovation</p>
  <div class="page_link">
  <a href="http://127.0.0.1:8000/">Home</a>
  <a href="/overview/">About</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  
<div class="department_area section_gap">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6 text-center" data-aos="fade-right"  data-aos-duration="1000">
  <img class="img-fluid" src="https://d3nn873nee648n.cloudfront.net/900x600/11876/220-SM364279.jpg" alt="" data-pagespeed-url-hash="2268835973" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
  <div class="offset-lg-1 col-lg-5"  data-aos="fade-left"  data-aos-duration="1000">
  <div class="dpmt_right">
  <h1>ABOUT OUR COLLEGE</h1>
  <p class="main">Seth Jai Parkash, his illustrious son accelerated the pace of opening institutions in the name of his father. A selfless man, he motivated the rich, particularly the business community by saying “Rain water accumulates on the roof top without an outlet, shall bring down the roof. Likewise, wealth without charity will ruin the household of wealthy”. He acted on this principle till the last and contributed large sums of money to the educational institutions</p>
  
  
  
  </div>
  </div>
  </div>
  </div>
  </div>
  

  <div class="fact_area overlay">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="main_title">
    <h2>Facts that Make us Unique</h2>
    <p></p>
    </div>
    </div>
    </div>
    <div class="row">
    
    <div class="col-lg-4 col-md-6"  data-aos="fade-right"  data-aos-duration="1000">
    <div class="single_fact">
    <div class="f_icon">
    <img src="img/f-icons/xicon1.png.pagespeed.ic.SsFcewOIt6.png" alt="" data-pagespeed-url-hash="4042650178" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <h4>Book Bank Scheme</h4>
    <p>The library has book bank facilities for all the students of JMIT.
      The library has book bank facilities for all the students of JMIT.
      Each student is issued at most 2 books with exception to economically weaker students who can get issued 3-4 books with special permission.</p>
      
    </div>
    </div>
    
    <div class="col-lg-4 col-md-6"  data-aos="fade-right"  data-aos-duration="1000">
    <div class="single_fact">
    <div class="f_icon">
    <img src="img/f-icons/xicon2.png.pagespeed.ic.kXHKr1emqV.png" alt="" data-pagespeed-url-hash="42182803" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <h4>Interest Free Study Loan </h4>
    <p>Interest free study loan on merit & means basis to needy students.</p>
    </div>
    </div>
    
    <div class="col-lg-4 col-md-6"  data-aos="fade-right"  data-aos-duration="1000">
    <div class="single_fact">
    <div class="f_icon">
    <img src="img/f-icons/xicon3.png.pagespeed.ic.BnZHtdfrXf.png" alt="" data-pagespeed-url-hash="336682724" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    
    <h4>Adoption Scheme</h4>
    <p>As an entity in society we have a duty to act in the best interests of society. We have blended social responsibility into the core operations of our institutions i.e. educations in terms of providing study loan, adopting needy students, providing health insurance, blood donation. </p>
    </div>
    </div>
    
    <div class="col-lg-4 col-md-6"  data-aos="fade-right"  data-aos-duration="1000">
    <div class="single_fact">
    <div class="f_icon">
    <img src="img/f-icons/xicon4.png.pagespeed.ic.mhVyPi0iZg.png" alt="" data-pagespeed-url-hash="631182645" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <h4>Help to Needy</h4>
    <p>Adoption of needy students from Nursery to Post Graduate with fee, uniform, books and transport etc.</p>
    </div>
    </div>
    
    <div class="col-lg-4 col-md-6"  data-aos="fade-right"  data-aos-duration="1000">
    <div class="single_fact">
    <div class="f_icon">
    <img src="img/f-icons/xicon5.png.pagespeed.ic.cwP1Nzy7bg.png" alt="" data-pagespeed-url-hash="925682566" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <h4>Affordability</h4>
    <p>We have reasonable fees and also one time refudable security of Rs. 2,000/- is included in the fee.</p> <br>
    </div>
    </div>
    
    <div class="col-lg-4 col-md-6"  data-aos="fade-right"  data-aos-duration="1000">
    <div class="single_fact">
    <div class="f_icon">
    <img src="img/f-icons/xicon6.png.pagespeed.ic.WdykWl4Qxb.png" alt="" data-pagespeed-url-hash="1220182487" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <h4>Health Services</h4>
    <p>Health insurance to the BPL families of 04 adopted villages.Public liability policy covers upto 4 Crores.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
<br>

 
{% endblock %}