{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
  p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto",sans-serif;
    color: #777;
    

  }
</style>
<link rel="stylesheet" href="{% static 'css/overview.css' %}">

<section class="banner_area" style="background:url(https://d3nn873nee648n.cloudfront.net/900x600/12115/220-VC376697.jpg) no-repeat center center ; ">
  <div class="banner_inner d-flex align-items-center" >
  <div class="overlay"></div>
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="banner_content text-center">
  <h2>Social Responsibilities</h2>
 
  <div class="page_link">
  <a href="http://127.0.0.1:8000/">Home</a>
  <a href="/socialrespons/">Social Responsibilities</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <br>
  <div class="container">
  <div class="section-top-border">
    <h3 class="mb-30 title_color">Blood Donation Mela</h3>
    <div class="row" data-aos="fade-right"  data-aos-duration="1000">
    <div class="col-md-3" >
    <img src="https://jmit.ac.in/downloads/nimages/blood-img1.jpg" alt="" class="img-fluid" data-pagespeed-url-hash="3552067182" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="col-md-9 mt-sm-20 left-align-p">
    <p> 
      Blood donation is a vital part of worldwide healthcare. It relates to blood transfusion as a life-sustaining and life-saving procedure as well as a form of therapeutic phlebotomy as a primary medical intervention. <br>
      To commemorate the Birth anniversary of the founder of the college Seth Jai Parkash Ji, a Blood Donation Mela is organized every year on 19th September since 1995. On this day the Mukadians renew their sacred pledge no one should be allowed to die for want of blood in the district of Yamuna Nagar. On this occasion lot of enthusiasm is seen among the blood donors. The college has produced a number of Star Donors and motivators through this noble movement.

    </p>
    </div>
    </div>
    
    
    <h3 class="mb-30 title_color text-right">Health Care</h3>
    <div class="row" data-aos="fade-left"  data-aos-duration="1000">
    <div class="col-md-9">
    <p>
      College has an on-campus dispensary to facilitate students with first-aid and minor health issues. Doctor is hired by college specially for this purpose who is available during college hours.
      We also provide: <br>
      1.Free medical check-up of all students. <br>
      2.Free Physiotherapy Camp on 2nd and 4th Saturday in Swaraj Devi Jai Parkash Hospital, Radaur. <br>
      3.Weekly medical camps in 04 adopted villages. <br>
      4.Regular eye testing and spectacles provided to the patients. <br>
      5.Cataract operations at designated hospitals. <br>
     
    </div>
    <div class="col-md-3">
    <img src="https://jmit.ac.in/downloads/nimages/health-care1.jpg" alt="" class="img-fluid" data-pagespeed-url-hash="3552067182" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    </div>
    
<br>
    <h3 class="mb-30 title_color">Tree Plantation Drives</h3>
    <div class="row" data-aos="fade-right"  data-aos-duration="1000">
    <div class="col-md-3">
    <img src="https://jmit.ac.in/downloads/nimages/plantation.jpg" alt="" class="img-fluid" data-pagespeed-url-hash="3552067182" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="col-md-9 mt-sm-20 left-align-p">
    <p>Considering the manifold benefits of trees, including that they release oxygen into the air,  absorb unpleasant odours as well as harmful gases such as carbon dioxide, carbon monoxide and sulfur dioxide from the air and purify it,  protect us from dangerous ultra-violet rays, provide us with food and the pivotal role played by trees in preventing soil erosion, maintaining ecological balance and most especially in lessening the effects of global warming, the JMIT team conducts tree plantation drives.Tree plantation is not just something that should be done; instead, it is a necessity, the urgent need of the hour. Planting of trees is especially important to protect our environment against air pollution and global warming. To this end, our young volunteers have been actively involved in organizing tree plantation campaigns.   </p>
    </div>
    </div>
  </div>
  

  <h3 class="mb-30 title_color text-right">Adoption Scheme</h3>
    <div class="row" data-aos="fade-left"  data-aos-duration="1000">
    <div class="col-md-9">
    <p>
      As an entity in society we have a duty to act in the best interests of society. We have blended social responsibility into the core operations of our institutions i.e. educations in terms of providing study loan, adopting needy students, providing health insurance, blood donation. JMIT has always been the first to take education and health care to the remotest part of the country.

Adoption of needy students from Nursery to Post Graduate with fee, uniform, books and transport etc. <br> Also we give Interest free study loan on merit & means basis to needy students.
      Interest free study loan for higher education in the country or abroad.</p>
    
    </div>
    <div class="col-md-3">
    <img src="https://jmit.ac.in/downloads/nimages/loan.jpg" alt="" class="img-fluid" data-pagespeed-url-hash="3552067182" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    </div>
  </div>
  <br><br>
{% endblock %}