{% extends 'header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/overview.css' %}">
<br>

<!-- 
  <h3><strong>SPORTS</strong></h3>
  <br>
  Realizing the importance of games and sports as an integral part of learning, JMIT has been
  involving all the students in some forms of competitive physical activities. Our objective
  is to enhance physical abilities and skills of our students while it also provides
  entertainment to the participants as well as to the spectators. Sports infuse in students
  the spirit of leadership, cooperation, co-ordination self-regulation, self-confidence and
  decision-making skills. They serve to ensure fair competition, and allow consistent
  adjudication of the winner. Thus it serves both the purposes i.e. physical exercise as
  well as source of entertainment.
  <br><br>
  The College has good infrastructure for sports & games. The activities include various
  outdoor games like Softball, Basketball, Volley Ball, Gymnastics, Hand Ball, Badminton,
  Cricket and Football and indoor games like Table Tennis, Chess, Chinese Checker, Carom and
  gymnasium room, Inter class competitions and Annual Athletic meet are special features.
  Students are encouraged to participate in Kurukshetra University games.
  <br><br>
  <img src="{% static 'image/sports2.jpg'%}" class="d-block w-100" style="width:100px;height:700px;max-width: 100%;" alt="...">
  <br>
  Sports & Physical Activities: The institute has excellent facilities for the following types of activities.
  <ul>
    <li>Indoor Games:- Table- Tennis, Chess & Carrom.</li>
    <li>Out Door Games:- Cricket, Football, Softball, Volleyball, Basket Ball, Badminton & Kabaddi.</li>
    <li>Health Club:- The college gymnasium has a multigym trainer, a cycle, a jogger, Weight lifting sets & Dumbles etc.</li>
    <li>Trekking Club:- The club organizes regular excursions. The institute has encouraged teachers & Students for adventurous activities such as trekking.</li>
    <li>Trips and Tours: The Institute arranges technical and refreshing (Site Scene) trips on time to time basis.</li>
    <li>To provide knowledge & acquaint one with first hand information, developing aesthetic sense and exploring the nature, several tips, tours and excursions are arranged. The objectives are to draw out the fear or any kind of apprehension which hampers the growth of the students.</li>
  </ul>
</div> -->

<section class="banner_area"  style="background:url(https://media.istockphoto.com/photos/closeup-of-various-sport-equipments-on-pitch-picture-id949190696?k=6&m=949190696&s=612x612&w=0&h=MYPGeV_wFUma8OXYK9TRv-HIOGeZ_zR0X9_erO9zXlc=) no-repeat center center; background-size: 100% 100%;margin-top: -10px;">
  <div class="banner_inner d-flex align-items-center">
  <div class="overlay"></div>
  <div class="container">
  <div class="row justify-content-left">
  <div class="col-lg-6">
  <div class="banner_content" style="margin-left: 25px;margin-top: -150px;">
  <h2 style="font-size: 60px;justify-content: center;">SPORTS</h2>
 
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
<br> <br>
<div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6">
  <div class="dpmt_courses">
  <div class="row">
  
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
  <div class="single_department" style="background-color:orange" data-aos="fade-right"  data-aos-duration="1000">
  <div class="dpmt_icon">
  <img src="{% static 'image/chess.png' %}" alt="" height="40px">
  </div>
  <h4>Chess</h4>
  </div>
  </div>
  
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
  <div class="single_department" style="background-color:#f2ef35;" data-aos="fade-up" data-aos-duration="1000">
  <div class="dpmt_icon">
  <img src="{% static 'image/lawntennis.png' %}" style="margin-top:-10px ;" alt="" height="40px">
  </div>
  <h4 style="margin-top:10px ;">Lawn Tennis</h4>
  </div>
  </div>
  
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
  <div class="single_department" style="background-color: #a1eb34;" data-aos="fade-left" data-aos-duration="1000">
  <div class="dpmt_icon">
  <img src="{% static 'image/badminton.png' %}" alt="" height="40px">
  </div>
  <h4>Badminton</h4>
  </div>
  </div>
  
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
  <div class="single_department" style="background-color: #a1eb34;" data-aos="fade-right" data-aos-duration="1000">
  <div class="dpmt_icon">
  <img src="{% static 'image/cricket.png' %}" height="40px" alt=""  >
  </div>
  <h4>Cricket</h4>
  </div>
  </div>
  
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
  <div class="single_department" style="background-color: powderblue;">
  <div class="dpmt_icon">
  <img src="{% static 'image/basketball.png' %}" alt="" height="40px">
  </div>
  <h4>Basketball <br></h4>
  </div>
  </div>
  <br>
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
  <div class="single_department"  style="background-color:orange" data-aos="fade-left" data-aos-duration="1000">
  <div class="dpmt_icon">
  <img src="{% static 'image/volleyball.png' %}" height="40px" alt="">
  </div>
  <h4>Volleyball</h4>
  </div>
  </div>
  <br>
  <div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100" data-aos="fade-down" data-aos-duration="1000">
  <div class="single_department" style="background-color: #f2ef35;">
  <div class="dpmt_icon">
  <img src="{% static 'image/tabletennis.png' %}" height="40px" alt="">
  </div>
  <h4>Table Tennis</h4>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="offset-lg-1 col-lg-5">
  <div class="dpmt_right">
  <h1>Facilities for Sports</h1>
  <p data-aos="fade-right" data-aos-duration="700">Sports are an important activity which is carried out to encourage the sense of healthy competition & all round development of the students. The College has good infrastructure for sports & games. The activities include various outdoor games like Softball, Basketball, Volley Ball, Gymnastics, Hand Ball, Badminton, Cricket and Football and indoor games like Table Tennis, Chess, Chinese Checker, Carom and gymnasium room, Inter class competitions and Annual Athletic meet are special features. Students are encouraged to participate in Kurukshetra University games.</p>
  
  </div>
  </div>
  </div>
  </div>
{% endblock %}