name: Docker Image CI

on:
  workflow_dispatch:
    
  push:
    branches: [ "master" ]


jobs:

  build:

    runs-on: ubuntu-latest
  

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: docker ps 
      run: docker ps
    - name: docker delete exited container
      run: ${{ docker rm $(docker ps --filter status=exited -q) }}
    - name : docker ps  
      run: docker ps 